body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.googleLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4285f4;
}

#loginButton {
  font-size: 1.5rem;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  height: 50px;
  justify-content: center;
  letter-spacing: 0.25px;
  max-width: 100%;
  padding: 2px 24px;
  width: auto;
}

#loginButton:hover {
  background: #f6f9fe;
  color: rgb(47, 47, 120);
  border: 2px solid #174ea6;
}

.errorSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4285f4;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}

/* .header {
  background-color: #4285f4;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 1rem 2rem;
} */

.header {
  display: grid;
  grid-template-areas:
    "searchForm sign-out"
    "searchResults searchResults";
}

.sign-out {
  grid-area: sign-out;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-weight: 550;
  height: 35px;
  justify-content: center;
  max-width: 100%;
  padding: 2px 24px;
  width: auto;
}

.sign-out:hover {
  background: #f6f9fe;
  color: rgb(47, 47, 120);
  border: 2px solid #174ea6;
}

.containerFormAndResults {
  display: grid;
  grid-template-areas:
    "searchForm"
    "searchResults";
}

#searchForm {
  grid-area: searchForm;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#inputSearch {
  border-radius: 24px;
  width: 25rem;
  height: 2rem;
  border: none;
  padding: 0 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  font-size: 16px;
  font-weight: bold;
}

#inputSearch:hover {
  border: 2px solid #174ea6;
}

#inputSearch:focus {
  border: 2px solid #174ea6;
  outline: none;
  border-color: #174ea6;
  -moz-border-color: 0 0 3px #174ea6;
  -webkit-border-color: 0 0 3px #174ea6;
}

#searchButton {
  border: none;
  background: #4285f4;
  margin-left: 0.4rem;
}

#iconButton {
  width: auto;
  height: 1.2rem;
}

.searchResults {
  grid-area: searchResults;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  align-items: center;
  justify-content: center;
}

.myLibrary {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  margin-top: 50rem;
}

.booksInMyLibrary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.singleBookInLibrary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #174ea6;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  border-radius: 24px;
}

.bookTitleLibrary {
  font-size: 1rem;
}

.bookInList {
  margin: 1rem;
}
